<link rel="stylesheet" type="text/css" href="index.css">
<label for="gemfile">Paste Gemfile Below</label>
<textarea name='gemfile' id='gemfile' cols=60 rows=30></textarea>
<button id='submit'>Submit</button>
