button,
textarea{
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:1em;
	padding:1em;
}
.title a{
	text-decoration: none;
	color: black;
	font-family: Verdana;
	text-align: center;
}
label{
	display:block;
	text-align:center;
	font-family: Verdana;
}
h1{
	text-align: center;
	font-family: Verdana;
}

a{
	text-decoration: none;
}

.gem_links{
	color: blue;
}

.gem_container{
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.gem_info{
	border: 1px solid;
	padding: .5em;
	font-size: 1em;
	margin-bottom: .5em;
	margin-left: 1em;
	margin-right: 1em;
	font-family: Verdana;
}

.not_found{
	border: 1.5px dashed;
	padding: .5em;
	font-size: 1em;
	margin-bottom: .5em;
	margin-left: 1em;
	margin-right: 1em;
	font-family: Verdana;
}

.commented_gem{
	background-color: #d3d3d3;
}

.commented_title{
	text-align: center;
}

@media (max-width: 800px) {
  .gem_container {
    width: 90%;
  }
}