button,
textarea{
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:1em;
	padding:1em;
}
label{
	display:block;
	text-align:center;
}
h1{
	text-align: center;
}
.gem_info{
	border: 1px solid;
	padding: .5em;
	font-size: 1em;
	margin-bottom: .5em;
}