<!DOCTYPE html>
<html>
<head>
	<title>Gem Detector</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/index.css">
</head>
<body>
	<h1>Gem Detector</h1>
<%= yield %>
<footer>
</footer>
</body>
</html>d