<div class= 'gem_container'>
	<% gemlist.each do |gem_name| %>
	<div class='gem_info'>
		<div class='gem_name'> <strong>Name:</strong> <%= gem_name['name'].capitalize %>
		</div>
		<!-- <div class='downloads'>
			<strong>Downloads:</strong> <%= gem_name['downloads'] %> -->
		<!-- </div> -->
		<div class='summary'>
			<strong>Summary:</strong> <%= gem_name['info'] %>
		</div>
	</div>
	<% end %>
</div>